<header class="site-header container">
    <div class="header-left">
        <a class="logo" href="{{@site.url}}">
            {{#if @site.logo}}
                <img class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
            {{else}}
                <span class="logo-text">{{@site.title}}</span>
            {{/if}}
        </a>
    </div>
    <div class="header-right">
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
        <button class="button-icon menu-item-button js-modal" data-modal="search" aria-label="Search">
            <svg class="icon">
                <use xlink:href="#magnify"></use>
            </svg>
        </button>
    </div>
</header>

{{#is "post"}}
    {{#post}}
        <header class="sticky">
            <div class="sticky-title">{{title}}</div>
            <button class="button-icon sticky-toc-button" aria-label="Table of Contents">
                <svg class="icon">
                    <use xlink:href="#table-of-contents"></use>
                </svg>
                <div class="sticky-toc"></div>
            </button>
            <div class="sticky-track">
                <div class="sticky-progress"></div>
            </div>
        </header>
    {{/post}}
{{/is}}
